{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="detail-post__row">
            <div class="detail-post__row-pre">
                Название:
            </div>
            <div class="detail-post__row-value">
                {{ post.title }}
            </div>
        </div>

        <div class="detail-post__row">
            <div class="detail-post__row-pre">
                Дата:
            </div>
            <div class="detail-post__row-value">
                {{ post.dateOfCreation|date('d.m.Y') }}
            </div>
        </div>

        <div class="detail-post__row">
            <div class="detail-post__row-pre">
                <img src="{{ asset('images/watch.svg') }}" alt="Количество просмотров">
            </div>
            <div class="detail-post__row-value">
                {{ post.countView }}
            </div>
        </div>

        <div class="detail-post__content">
            {{ post.body | raw }}
        </div>

        <h2>Комментарии:</h2>

        {% if app.user is not null %}
            {{ form_start(comment_form) }}

            <div class="form-group">
                {{ form_label(comment_form.commentBody, null,
                    form_errors(comment_form.commentBody)|length ? { 'label_attr': {'class': 'text-danger'} } : {}) }}
                {{ form_widget(comment_form.commentBody, form_errors(comment_form.commentBody)|length
                    ? {'attr': {'class': 'form-control is-invalid'}}
                    : {'attr': {'class': 'form-control'}} ) }}
                <span class="text-danger register__error-label">{{ form_errors(comment_form.commentBody) }}</span>
                {{ form_widget(comment_form.save) }}
            </div>

            {{ form_end(comment_form) }}
        {% endif %}

        {% if comments is not empty %}
            {% for comment in comments %}
                {{ include('components/comment.html.twig', {'comment': comment}) }}
            {% endfor %}
            <div class="navigation text-center d-flex justify-content-center">
                {{ knp_pagination_render(comments) }}
            </div>
        {% else %}
            <div class="text-center">
                Комментариев не найдено!
            </div>
        {% endif %}
    </div>
{% endblock %}
