<div class="row post-card mb-4">
    <div class="col-3 p-0">
        <div class="post-card__time-on-read">
            {{ post.timeOnRead ~ " минут на чтение" }}
        </div>
        <div class="post-card__date-of-creation">
            {{ post.dateOfCreation|date('d.m.Y') }}
        </div>
        <div class="row post-card__information">
            {{ post.countView }}
            <img src="{{ asset('images/watch.svg') }}" alt="Количество просмотров">
            {{ post.comments|length }}
            <img src="{{ asset('images/comment.svg') }}" alt="Количество комментариев">
        </div>
    </div>
    <div class="col-9 p-0">
        <div class="post-card__title">
            <a href="{{ path('post_show', {'id': post.id}) }}">
                {{ post.title }}
            </a>
        </div>
        <div class="post-card__preview mt-2">
            {{ post.getAnnotation | raw }}
        </div>
    </div>
    <hr class="post-card__divider mt-4">
</div>